In [1]:
import pandas as pd
from pandas import DataFrame

# input file
output_file_directory = './sample data/output_feature_label.csv'

# output file
output_2_days_directory = './sample data/output_2_days_water_inlet.csv'

df_pump_open = pd.read_csv(output_file_directory, parse_dates=['measurement_result_date'])
df_pump_open.shape

(2769, 400)

In [2]:
from pandas import DataFrame

df_plot_1 = DataFrame()
df_plot_1= df_pump_open[['average_result_value','res_cl_hist_0min','measurement_result_date','zone_flow_hist_0min']]
df_plot_1.index = df_plot_1['measurement_result_date']
#df_plot = df_plot_1.drop(['measurement_result_date'],axis=1)

df_plot = df_plot_1.sort_index()

In [3]:
df_diff = df_plot.diff()
df_diff_1 = df_diff.drop(['measurement_result_date'],axis=1)
df_diff_1.head(5)

,average_result_value,res_cl_hist_0min,zone_flow_hist_0min
measurement_result_date,,,
2016-12-01 00:00:00,NaN,NaN,NaN
2016-12-01 00:15:00,-0.0012,0.002024,-0.163237
2016-12-01 00:30:00,-0.0020,0.001679,-0.146359
2016-12-01 00:45:00,-0.0108,0.001758,-0.058436
2016-12-01 01:00:00,-0.0126,0.000928,0.003044

In [4]:
%matplotlib
import matplotlib.pyplot as plt

df_diff_2 = df_diff_1.drop(['zone_flow_hist_0min'],axis=1)
df_diff_2.plot()

Using matplotlib backend: MacOSX

In [5]:
df_diff.index = df_diff.index.strftime('%Y-%m-%d %R')

In [23]:
a = df_diff[1020:1081]

In [24]:
df_diff_tem_1 = df_diff.drop(['res_cl_hist_0min', 'zone_flow_hist_0min'],axis=1)
df_diff_tem_1['average_result_value'].describe()

count    2768.000000
mean       -0.000079
std         0.079448
min        -0.462800
25%        -0.010200
50%        -0.003200
75%         0.003800
max         0.419000
Name: average_result_value, dtype: float64

In [25]:
a_1 = a.drop(['zone_flow_hist_0min','res_cl_hist_0min'],axis=1)
# a_1.plot()

In [26]:
a_1

                  average_result_value measurement_result_date
2017-01-02 04:00               -0.0020                00:15:00
2017-01-02 22:15               -0.0926                18:15:00
2017-01-02 22:30               -0.0012                00:15:00
2017-01-02 22:45               -0.0064                00:15:00
2017-01-02 23:00                0.1230                00:15:00
2017-01-02 23:15               -0.0138                00:15:00
2017-01-02 23:30               -0.0496                00:15:00
2017-01-02 23:45                0.0038                00:15:00
2017-01-03 00:00                0.0134                00:15:00
2017-01-03 00:15                0.0102                00:15:00
2017-01-03 00:30                0.0050                00:15:00
2017-01-03 00:45               -0.0184                00:15:00
2017-01-03 01:00                0.0076                00:15:00
2017-01-03 01:15               -0.0088                00:15:00
2017-01-03 01:30                0.0006                00:15:00
2017-01-03 01:45                0.0006                00:15:00
2017-01-03 02:00                0.0952                00:15:00
2017-01-03 02:15               -0.0102                00:15:00
2017-01-03 02:30               -0.1592                00:15:00
2017-01-03 02:45                0.1408                00:15:00
2017-01-03 03:00                0.0044                00:15:00
2017-01-03 03:15               -0.0050                00:15:00
2017-01-03 03:30               -0.0012                00:15:00
2017-01-03 03:45               -0.0020                00:15:00
2017-01-03 04:00               -0.0012                00:15:00
2017-01-03 04:15               -0.0052                00:15:00
2017-01-03 04:30                0.0008                00:15:00
2017-01-03 04:45               -0.0096                00:15:00
2017-01-03 22:15               -0.1586                17:30:00
2017-01-03 22:30               -0.0400                00:15:00
...                                ...                     ...
2017-01-03 23:00               -0.0032                00:15:00
2017-01-03 23:15               -0.0100                00:15:00
2017-01-03 23:30               -0.0064                00:15:00
2017-01-03 23:45                0.0064                00:15:00
2017-01-04 00:00               -0.0128                00:15:00
2017-01-04 00:15               -0.0018                00:15:00
2017-01-04 00:30                0.1592                00:15:00
2017-01-04 00:45                0.1612                00:15:00
2017-01-04 01:00               -0.2926                00:15:00
2017-01-04 01:15                0.1206                00:15:00
2017-01-04 01:30                0.1378                00:15:00
2017-01-04 01:45                0.0056                00:15:00
2017-01-04 02:00                0.0026                00:15:00
2017-01-04 02:15               -0.0032                00:15:00
2017-01-04 02:30               -0.0044                00:15:00
2017-01-04 02:45               -0.0032                00:15:00
2017-01-04 03:00                0.0032                00:15:00
2017-01-04 03:15               -0.0070                00:15:00
2017-01-04 03:30               -0.0070                00:15:00
2017-01-04 03:45                0.0090                00:15:00
2017-01-04 04:00               -0.0064                00:15:00
2017-01-04 04:15               -0.0038                00:15:00
2017-01-04 04:30               -0.0128                00:15:00
2017-01-04 22:15               -0.3008                17:45:00
2017-01-04 22:30                0.0058                00:15:00
2017-01-04 22:45               -0.0058                00:15:00
2017-01-04 23:00               -0.0006                00:15:00
2017-01-04 23:15                0.2660                00:15:00
2017-01-04 23:30                0.0018                00:15:00
2017-01-04 23:45               -0.2406                00:15:00

[61 rows x 2 columns]

In [27]:
# input: all data
output_all_data = './sample data/output_all_data.csv'

# output: 2 days data
output_2_days_directory = './sample data/output_2_days_water_inlet.csv'

In [28]:
# read all data
data_all = pd.read_csv(output_all_data, parse_dates=['measurement_result_date'])
data_all.shape

(8641, 399)

In [29]:
data_all = data_all.sort_values(['measurement_result_date'])
data_all.index = data_all['measurement_result_date']

In [30]:
data_2_days = DataFrame()
data_2_days = data_all[['average_result_value','res_cl_hist_0min','measurement_result_date']]
data_2_days.index = data_2_days.index.strftime('%Y-%m-%d %R')

### period 1: 2017-01-02 22:15 ~ 2017-01-03 06:45
* extend close time to 2 hours
* whole open to close period
* 19/09/2017

In [31]:
data_1 = data_2_days['2017-01-02 22:15':'2017-01-03 06:45']
data_1.shape

(35, 3)

### period 2: 2017-01-03 22:15 ~ 2017-01-04 06:30

In [32]:
data_2 = data_2_days['2017-01-03 22:15':'2017-01-04 06:30']
data_2.shape

(34, 3)

### data: 2个pump open 的时间段 + 关闭后的2个小时

In [33]:
data_2_periods = pd.concat([data_1,data_2])
data_2_periods_df = data_2_periods.drop(['measurement_result_date'],axis=1)
data_2_periods.shape

(69, 3)

In [34]:
data_2_periods.to_csv(output_2_days_directory)

In [36]:
data_2_periods_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 69 entries, 2017-01-02 22:15 to 2017-01-04 06:30
Data columns (total 2 columns):
average_result_value    69 non-null float64
res_cl_hist_0min        69 non-null float64
dtypes: float64(2)
memory usage: 1.6+ KB

### Plot with DataFrame - index is time

In [37]:
data_2_periods_df.plot()

In [38]:
df = data_2_periods

In [39]:
df.head(5)

,average_result_value,res_cl_hist_0min,measurement_result_date
2017-01-02 22:15,1.1018,1.369497,2017-01-02 22:15:00
2017-01-02 22:30,1.1006,1.369047,2017-01-02 22:30:00
2017-01-02 22:45,1.0942,1.371858,2017-01-02 22:45:00
2017-01-02 23:00,1.2172,1.378580,2017-01-02 23:00:00
2017-01-02 23:15,1.2034,1.385674,2017-01-02 23:15:00

In [74]:
df.columns = ['value','chlorine','daytime']
df.head(5)

                   value  chlorine             daytime
2017-01-03 00:00  1.1710  1.399278 2017-01-03 00:00:00
2017-01-03 00:15  1.1812  1.403731 2017-01-03 00:15:00
2017-01-03 00:30  1.1862  1.406444 2017-01-03 00:30:00
2017-01-03 00:45  1.1678  1.406501 2017-01-03 00:45:00
2017-01-03 01:00  1.1754  1.404552 2017-01-03 01:00:00

### form proper x-axis for scatter

* need change
* 17/09/2017

In [75]:
df['time'] = df['daytime'].dt.day
df['time'].describe()

count    54.000000
mean      3.425926
std       0.499126
min       3.000000
25%       3.000000
50%       3.000000
75%       4.000000
max       4.000000
Name: time, dtype: float64

In [61]:
df.plot.scatter(x='time',y='value')

In [68]:
data_2.shape

(30, 3)