# data exploration

In [7]:
import pandas as pd

# input file - dataset only when the pump is opening
file_directory = './sample data/output_all_4_data.csv'

# output file - without useless features (for modelling)
modelling_data_directory = './sample data/modelling_dataset_levels.csv'
modelling_diff_data_directory = './sample data/modelling_diff_dataset_levels.csv'
modelling_only_open_diff_data_directory = './sample data/modelling_only_open_diff_dataset_levels.csv'

In [21]:
df = pd.read_csv(file_directory, parse_dates=['measurement_result_date'])
df.shape

(8640, 400)

In [98]:
df = df.rename(columns={'Average Result Value': 'pump_average_speed_sum'})

In [99]:
df.head(5)

,measurement_result_date,average_result_value,statistic_type,asset_code,facility_code,pump_average_speed_sum,Measurement_Result_Date_Minute_15,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,...,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,timestamp,node_id,zone_id,water_level
0,2016-12-01 00:00:00,1.4572,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:00:00,0.537967,0.677703,0.838600,...,1.709118,1.707396,1.708366,17.4,2.789096,1.931739,2016-12-01 00:00:00,31238.0,engadine_rem_flow_zone,58.92
1,2016-12-01 00:15:00,1.4560,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:15:00,0.374730,0.537967,0.677703,...,1.711658,1.709118,1.707396,17.4,2.789096,1.931739,2016-12-01 00:15:00,31238.0,engadine_rem_flow_zone,59.53
2,2016-12-01 00:30:00,1.4540,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:30:00,0.228371,0.374730,0.537967,...,1.714862,1.711658,1.709118,17.4,2.789096,1.931739,2016-12-01 00:30:00,31238.0,engadine_rem_flow_zone,60.14
3,2016-12-01 00:45:00,1.4432,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:45:00,0.169935,0.228371,0.374730,...,1.718593,1.714862,1.711658,17.4,2.789096,1.931739,2016-12-01 00:45:00,31238.0,engadine_rem_flow_zone,60.75
4,2016-12-01 01:00:00,1.4306,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:00:00,0.172979,0.169935,0.228371,...,1.720893,1.718593,1.714862,17.4,2.789096,1.931739,2016-12-01 01:00:00,31238.0,engadine_rem_flow_zone,61.35

# data cleaning

In [100]:
df.describe()

,average_result_value,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,node_id,water_level
count,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,...,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8640.000000,8.640000e+03,8.640000e+03,8640.0,8640.000000
mean,1.182842,0.322222,2.408267,2.408307,2.408366,2.408444,2.408531,2.408613,2.408670,2.408700,...,1.480150,1.480194,1.480239,1.480283,1.480327,21.732778,2.789096e+00,1.931739e+00,31238.0,61.453346
std,0.148628,0.471301,1.825524,1.825483,1.825424,1.825349,1.825267,1.825195,1.825153,1.825136,...,0.079535,0.079557,0.079579,0.079599,0.079619,1.876411,1.625461e-13,2.686895e-13,0.0,5.311319
min,0.745000,0.000000,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,...,1.254849,1.254849,1.254849,1.254849,1.254849,17.400000,2.789096e+00,1.931739e+00,31238.0,51.830000
25%,1.076400,0.000000,0.744151,0.744151,0.744494,0.745410,0.745831,0.746226,0.746226,0.746226,...,1.428040,1.428064,1.428073,1.428096,1.428167,20.650000,2.789096e+00,1.931739e+00,31238.0,56.970000
50%,1.179800,0.000000,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,2.306694,...,1.482050,1.482063,1.482069,1.482085,1.482119,22.350000,2.789096e+00,1.931739e+00,31238.0,61.360000
75%,1.288400,1.000000,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,3.631555,...,1.532148,1.532177,1.532192,1.532228,1.532244,22.950000,2.789096e+00,1.931739e+00,31238.0,65.942500
max,1.617200,2.000000,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,...,1.735576,1.735576,1.735576,1.735576,1.735576,24.550000,2.789096e+00,1.931739e+00,31238.0,75.090000

* average_result_value: label
* Average Result Value: pump speed - sum 3 nodes
* zone_flow_hist_0min: flow speed (record in every 15mins - total: 2 days)
* res_cl_hist_0min: upstream result history of chlorine (record in every 15mins - total: 2 days)
* res_temperature
* water_level

In [101]:
feature_droped = ['zone_id', 'node_id', 'timestamp', 'flow_nom', 'travel_time_hrs_nom', 'Measurement_Result_Date_Minute_15', 'facility_code', 'asset_code', 'statistic_type']
df_tem = df.drop(feature_droped ,axis=1)
df_tem.shape

(8640, 391)

In [102]:
df_tem.head(5)

,measurement_result_date,average_result_value,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,...,res_cl_hist_2775min,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level
0,2016-12-01 00:00:00,1.4572,1,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,1.708366,17.4,58.92
1,2016-12-01 00:15:00,1.4560,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53
2,2016-12-01 00:30:00,1.4540,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14
3,2016-12-01 00:45:00,1.4432,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75
4,2016-12-01 01:00:00,1.4306,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35

# Data pre-processing
* change label to diff value
* 19/09/2017
 - get diff in time
 - 25/09/2018

In [103]:
# get diff in label
df_label_diff = df_tem['average_result_value'].diff()
df_label_diff[8635:]

8635   -0.0082
8636    0.0032
8637    0.0000
8638    0.0000
8639    0.1630
Name: average_result_value, dtype: float64

In [104]:
# label describe
df_label_diff.describe()

count    8639.000000
mean       -0.000025
std         0.041528
min        -0.370000
25%        -0.007600
50%        -0.002000
75%         0.003200
max         0.419000
Name: average_result_value, dtype: float64

In [157]:
# form new diff dataset with all data
df_tem_1 = df_tem.drop(['average_result_value'], axis=1)
df_diff = pd.concat([df_tem_1, df_label_diff], axis=1)
df_diff.shape

(8640, 391)

In [158]:
df_diff.head(5)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
0,2016-12-01 00:00:00,1,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,1.529712,...,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,1.708366,17.4,58.92,NaN
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126

In [159]:
# form new diff dataset with all data
# - without invalid first line

df_diff.drop([0], inplace=True)
df_diff.head(5)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126
5,2016-12-01 01:15:00,1,0.189868,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,17.4,61.97,-0.0014

# Output only open dataset

In [201]:
# only open dataset
df_tem_only_open = df_diff.loc[df_diff['pump_average_speed_sum']>0]
df_tem_only_open.drop(['measurement_result_date'], axis=1).head(3)

,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,zone_flow_hist_120min,...,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value
1,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,1.529712,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012
2,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020
3,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108

In [161]:
# Output only open dataset
df_tem_only_open.drop(['measurement_result_date'], axis=1).to_csv(modelling_only_open_diff_data_directory, index=None)

# Output open data with 2 hours close

In [227]:
df_tem_only_open.head(4)

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012,NaT
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020,00:15:00
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108,00:15:00
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126,00:15:00

In [228]:
df_tem_only_open.shape

(2767, 392)

In [205]:
# get diff in time
df_time_diff = df_tem_only_open['measurement_result_date'].diff()
df_tem_only_open['time_diff'] = df_time_diff
df_tem_only_open.head(5)

/Users/yuhan/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,measurement_result_date,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
1,2016-12-01 00:15:00,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4,59.53,-0.0012,NaT
2,2016-12-01 00:30:00,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4,60.14,-0.0020,00:15:00
3,2016-12-01 00:45:00,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4,60.75,-0.0108,00:15:00
4,2016-12-01 01:00:00,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4,61.35,-0.0126,00:15:00
5,2016-12-01 01:15:00,1,0.189868,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,17.4,61.97,-0.0014,00:15:00

In [206]:
import datetime

count = 0
df_tem_series_result = df_tem_only_open
for i in range(0, len(df_tem_only_open)):
    if df_tem_only_open.iloc[i]['time_diff'] > datetime.timedelta(minutes=15):
#         print df_tem_only_open.iloc[i-1]['measurement_result_date'], "diff:", df_tem_only_open.iloc[i]['time_diff']
        num = df_tem[df_tem['measurement_result_date'] == df_tem_only_open.iloc[i-1]['measurement_result_date']].index.tolist()
#         print num[0]
        df_tem_series = df_tem.iloc[num[0]+1:num[0]+9]
        df_tem_series_result = pd.concat([df_tem_series_result, df_tem_series])

2016-12-01 04:15:00 diff: 0 days 16:00:00
17
2016-12-02 04:30:00 diff: 0 days 13:30:00
114
2016-12-02 21:00:00 diff: 0 days 01:15:00
180
2016-12-03 04:30:00 diff: 0 days 13:30:00
210
2016-12-03 20:30:00 diff: 0 days 01:45:00
274
2016-12-04 04:45:00 diff: 0 days 12:30:00
307
2016-12-04 21:00:00 diff: 0 days 01:15:00
372
2016-12-05 04:45:00 diff: 0 days 17:30:00
403
2016-12-06 04:30:00 diff: 0 days 17:45:00
498
2016-12-07 03:45:00 diff: 0 days 18:30:00
591
2016-12-08 04:15:00 diff: 0 days 17:30:00
689
2016-12-09 05:00:00 diff: 0 days 16:15:00
788
2016-12-10 04:45:00 diff: 0 days 14:45:00
883
2016-12-10 21:00:00 diff: 0 days 01:15:00
948
2016-12-11 04:30:00 diff: 0 days 13:45:00
978
2016-12-11 20:15:00 diff: 0 days 02:00:00
1041
2016-12-12 04:45:00 diff: 0 days 14:45:00
1075
2016-12-13 04:15:00 diff: 0 days 14:30:00
1169
2016-12-14 04:30:00 diff: 0 days 15:30:00
1266
2016-12-14 21:15:00 diff: 0 days 01:00:00
1333
2016-12-15 04:15:00 diff: 0 days 18:00:00
1361
2016-12-16 03:45:00 diff: 0 days 18:30:00
1455
2016-12-17 04:00:00 diff: 0 days 16:45:00
1552
2016-12-18 04:15:00 diff: 0 days 18:00:00
1649
2016-12-19 05:00:00 diff: 0 days 17:15:00
1748
2016-12-20 05:15:00 diff: 0 days 16:15:00
1845
2016-12-21 05:15:00 diff: 0 days 15:15:00
1941
2016-12-22 04:15:00 diff: 0 days 18:00:00
2033
2016-12-23 05:15:00 diff: 0 days 14:45:00
2133
2016-12-23 21:30:00 diff: 0 days 00:45:00
2198
2016-12-24 04:30:00 diff: 0 days 13:00:00
2226
2016-12-24 19:15:00 diff: 0 days 03:00:00
2285
2016-12-25 05:15:00 diff: 0 days 17:00:00
2325
2016-12-26 05:00:00 diff: 0 days 15:30:00
2420
2016-12-26 21:45:00 diff: 0 days 00:30:00
2487
2016-12-27 04:15:00 diff: 0 days 16:45:00
2513
2016-12-28 04:30:00 diff: 0 days 15:30:00
2610
2016-12-28 21:45:00 diff: 0 days 00:30:00
2679
2016-12-29 04:15:00 diff: 0 days 15:15:00
2705
2016-12-29 21:30:00 diff: 0 days 00:45:00
2774
2016-12-30 04:30:00 diff: 0 days 17:45:00
2802
2016-12-31 05:00:00 diff: 0 days 17:15:00
2900
2017-01-01 05:30:00 diff: 0 days 16:45:00
2998
2017-01-02 04:00:00 diff: 0 days 18:15:00
3088
2017-01-03 04:45:00 diff: 0 days 17:30:00
3187
2017-01-04 04:30:00 diff: 0 days 17:45:00
3282
2017-01-05 04:30:00 diff: 0 days 17:45:00
3378
2017-01-06 03:30:00 diff: 0 days 18:45:00
3470
2017-01-07 03:45:00 diff: 0 days 18:30:00
3567
2017-01-08 05:00:00 diff: 0 days 15:45:00
3668
2017-01-09 04:15:00 diff: 0 days 17:15:00
3761
2017-01-10 05:00:00 diff: 0 days 17:15:00
3860
2017-01-11 05:00:00 diff: 0 days 16:00:00
3956
2017-01-12 04:45:00 diff: 0 days 17:30:00
4051
2017-01-13 05:30:00 diff: 0 days 15:15:00
4150
2017-01-14 04:30:00 diff: 0 days 16:15:00
4242
2017-01-15 04:30:00 diff: 0 days 17:00:00
4338
2017-01-16 05:00:00 diff: 0 days 15:45:00
4436
2017-01-17 04:45:00 diff: 0 days 14:15:00
4531
2017-01-18 04:30:00 diff: 0 days 14:45:00
4626
2017-01-18 21:00:00 diff: 0 days 01:15:00
4692
2017-01-19 04:45:00 diff: 0 days 17:30:00
4723
2017-01-19 23:30:00 diff: 0 days 09:00:00
4798
2017-01-20 10:15:00 diff: 0 days 04:00:00
4841
2017-01-20 15:30:00 diff: 0 days 03:15:00
4862
2017-01-20 20:15:00 diff: 0 days 02:00:00
4881
2017-01-21 04:45:00 diff: 0 days 15:30:00
4915
2017-01-21 21:45:00 diff: 0 days 00:30:00
4983
2017-01-22 04:15:00 diff: 0 days 15:00:00
5009
2017-01-22 21:15:00 diff: 0 days 01:00:00
5077
2017-01-23 04:30:00 diff: 0 days 15:00:00
5106
2017-01-24 04:15:00 diff: 0 days 18:00:00
5201
2017-01-25 05:15:00 diff: 0 days 17:00:00
5301
2017-01-26 04:45:00 diff: 0 days 17:30:00
5395
2017-01-27 05:15:00 diff: 0 days 17:00:00
5493
2017-01-28 05:15:00 diff: 0 days 13:30:00
5589
2017-01-28 21:15:00 diff: 0 days 01:00:00
5653
2017-01-29 04:45:00 diff: 0 days 13:00:00
5683
2017-01-29 21:15:00 diff: 0 days 01:00:00
5749
2017-01-30 04:30:00 diff: 0 days 14:15:00
5778
2017-01-31 04:30:00 diff: 0 days 15:45:00
5874
2017-01-31 21:45:00 diff: 0 days 00:30:00
5943
2017-02-01 04:15:00 diff: 0 days 18:00:00
5969
2017-02-02 05:00:00 diff: 0 days 17:15:00
6068
2017-02-03 05:00:00 diff: 0 days 17:15:00
6164
2017-02-04 04:45:00 diff: 0 days 14:00:00
6259
2017-02-04 21:15:00 diff: 0 days 01:00:00
6325
2017-02-05 04:45:00 diff: 0 days 12:15:00
6355
2017-02-05 21:45:00 diff: 0 days 00:30:00
6423
2017-02-06 04:45:00 diff: 0 days 14:30:00
6451
2017-02-06 21:15:00 diff: 0 days 01:00:00
6517
2017-02-07 04:45:00 diff: 0 days 17:30:00
6547
2017-02-08 04:15:00 diff: 0 days 18:00:00
6641
2017-02-09 03:45:00 diff: 0 days 18:30:00
6735
2017-02-10 05:15:00 diff: 0 days 14:30:00
6837
2017-02-10 21:45:00 diff: 0 days 00:30:00
6903
2017-02-11 04:15:00 diff: 0 days 13:45:00
6929
2017-02-11 20:30:00 diff: 0 days 01:45:00
6994
2017-02-12 05:00:00 diff: 0 days 13:45:00
7028
2017-02-12 20:30:00 diff: 0 days 01:45:00
7090
2017-02-13 04:30:00 diff: 0 days 16:15:00
7122
2017-02-14 04:30:00 diff: 0 days 17:45:00
7218
2017-02-15 04:15:00 diff: 0 days 18:00:00
7313
2017-02-16 04:45:00 diff: 0 days 17:15:00
7411
2017-02-17 05:15:00 diff: 0 days 17:00:00
7509
2017-02-18 04:30:00 diff: 0 days 17:45:00
7602
2017-02-19 05:00:00 diff: 0 days 17:15:00
7700
2017-02-20 05:15:00 diff: 0 days 17:00:00
7797
2017-02-21 05:00:00 diff: 0 days 17:15:00
7892
2017-02-22 05:00:00 diff: 0 days 16:45:00
7988
2017-02-23 05:15:00 diff: 0 days 16:30:00
8085
2017-02-24 05:15:00 diff: 0 days 17:00:00
8181
2017-02-25 04:45:00 diff: 0 days 17:30:00
8275
2017-02-26 04:45:00 diff: 0 days 17:30:00
8371
2017-02-27 04:45:00 diff: 0 days 17:30:00
8467
2017-02-28 05:15:00 diff: 0 days 17:15:00
8565

In [211]:
df_tem_series_result.shape

(3695, 392)

In [208]:
# only open data
df_tem_only_open['measurement_result_date'].describe()

count                    2767
unique                   2767
top       2017-01-04 02:30:00
freq                        1
first     2016-12-01 00:15:00
last      2017-02-28 23:45:00
Name: measurement_result_date, dtype: object

In [209]:
# add 2 hours close data
df_tem_series_result['measurement_result_date'].describe()

count                    3695
unique                   3587
top       2017-02-10 23:45:00
freq                        2
first     2016-12-01 00:15:00
last      2017-02-28 23:45:00
Name: measurement_result_date, dtype: object

In [212]:
# 构建完整，可用于检查的数据 （包含时间戳及时间差）
df_tem_series_result.head(5)

,average_result_value,measurement_result_date,pump_average_speed_sum,res_cl_hist_0min,res_cl_hist_1005min,res_cl_hist_1020min,res_cl_hist_1035min,res_cl_hist_1050min,res_cl_hist_105min,res_cl_hist_1065min,...,zone_flow_hist_870min,zone_flow_hist_885min,zone_flow_hist_900min,zone_flow_hist_90min,zone_flow_hist_915min,zone_flow_hist_930min,zone_flow_hist_945min,zone_flow_hist_960min,zone_flow_hist_975min,zone_flow_hist_990min
1,-0.0012,2016-12-01 00:15:00,1,1.534634,1.586609,1.587583,1.586375,1.584198,1.512596,1.581583,...,3.191080,3.500224,3.997968,1.151700,4.652041,5.138618,5.320497,5.347042,5.347777,5.349607
2,-0.0020,2016-12-01 00:30:00,1,1.536314,1.583170,1.586609,1.587583,1.586375,1.517226,1.584198,...,3.020517,3.191080,3.500224,1.086506,3.997968,4.652041,5.138618,5.320497,5.347042,5.347777
3,-0.0108,2016-12-01 00:45:00,1,1.538072,1.579295,1.583170,1.586609,1.587583,1.520581,1.586375,...,2.897907,3.020517,3.191080,0.992196,3.500224,3.997968,4.652041,5.138618,5.320497,5.347042
4,-0.0126,2016-12-01 01:00:00,1,1.538999,1.576564,1.579295,1.583170,1.586609,1.522850,1.587583,...,2.788926,2.897907,3.020517,0.838600,3.191080,3.500224,3.997968,4.652041,5.138618,5.320497
5,-0.0014,2016-12-01 01:15:00,1,1.538945,1.574967,1.576564,1.579295,1.583170,1.525727,1.586609,...,2.712861,2.788926,2.897907,0.677703,3.020517,3.191080,3.500224,3.997968,4.652041,5.138618

In [224]:
df_tem_series_result.drop_duplicates(['measurement_result_date']).shape

(3587, 392)

In [229]:
feature_drop = ['measurement_result_date', 'time_diff']
df_series_result = df_tem_series_result.drop_duplicates(['measurement_result_date'])
df_series_result = df_series_result.sort_values(['measurement_result_date'])
df_series_result = df_series_result.drop(feature_drop, axis=1)

In [230]:
df_series_result.shape

(3587, 390)

In [232]:
# Output add 2h close dataset
df_series_result.to_csv(modelling_diff_data_directory, index=None)

## 总数验证
- 25/09/2018

In [221]:
# 所有 间隔 >15min 的数据 - 需添加 pump 关闭数据的地方
df_tem_only_open[df_tem_only_open['time_diff'] > datetime.timedelta(minutes=15)].shape

(116, 392)

In [219]:
# 间隔 >= 2h - 可以完整加入8个数据的地方
df_tem_only_open[df_tem_only_open['time_diff'] >= datetime.timedelta(hours=2)].shape

(95, 392)

In [222]:
# 15min < 间隔 < 2h - 加入数据少于8个的地方
df_tem_only_open[(df_tem_only_open['time_diff'] > datetime.timedelta(minutes=15))&(df_tem_only_open['time_diff'] < datetime.timedelta(hours=2))].describe()

,pump_average_speed_sum,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,zone_flow_hist_120min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,water_level,average_result_value,time_diff
count,21.0,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,...,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21
mean,1.0,1.809396,2.019425,2.337398,2.722455,3.075699,3.365465,3.711876,4.139437,4.598986,...,1.470546,1.467255,1.463945,1.460916,1.457920,1.454312,21.714286,54.670476,0.001114,0 days 00:59:17.142857
std,0.0,0.356910,0.441173,0.601736,0.778764,0.917453,1.017434,1.114293,1.246116,1.387091,...,0.078120,0.077472,0.076014,0.075301,0.075659,0.076624,2.278878,0.426304,0.062845,0 days 00:25:18.740079
min,1.0,1.402415,1.443857,1.505266,1.606591,1.827994,1.981700,2.080371,2.154950,2.388413,...,1.322531,1.326416,1.331549,1.331276,1.332313,1.326505,17.400000,53.800000,-0.189800,0 days 00:30:00
25%,1.0,1.505818,1.680799,1.888827,2.075523,2.439903,2.471810,3.019542,3.361535,3.612862,...,1.425314,1.419314,1.416561,1.413273,1.407319,1.400642,20.650000,54.390000,-0.010800,0 days 00:30:00
50%,1.0,1.713117,1.878389,2.201182,2.628134,3.037478,3.482653,3.888338,4.193175,4.517259,...,1.474725,1.473414,1.471420,1.460815,1.447436,1.447490,22.350000,54.600000,0.000600,0 days 01:00:00
75%,1.0,2.037059,2.301147,2.603154,3.135774,3.531929,3.942386,4.205773,4.856076,5.511661,...,1.523639,1.522850,1.520581,1.516995,1.512596,1.510397,22.950000,55.050000,0.007000,0 days 01:15:00
max,1.0,2.582563,2.931976,3.509219,4.463693,5.463131,6.271031,7.003130,7.849941,8.715873,...,1.612625,1.612189,1.613258,1.615350,1.615815,1.613884,24.550000,55.300000,0.183400,0 days 01:45:00