# data exploration

In [37]:
import pandas as pd

# input file - dataset only when the pump is opening
file_directory = './sample data/output_3_files.csv'

# output file - without useless features (for modelling)
modelling_data_directory = './sample data/modelling_dataset.csv'

In [24]:
df = pd.read_csv(file_directory)
df.shape

(2769, 399)

In [25]:
df.head(10)

,measurement_result_date,average_result_value,statistic_type,asset_code,facility_code,Average Result Value,Measurement_Result_Date_Minute_15,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,...,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,timestamp,node_id,zone_id
0,2016-12-01 00:00:00,1.4572,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:00:00,0.537967,0.677703,0.838600,...,1.711658,1.709118,1.707396,1.708366,17.4,2.789096,1.931739,2016-12-01 00:00:00,31238.0,engadine_rem_flow_zone
1,2016-12-01 00:15:00,1.4560,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:15:00,0.374730,0.537967,0.677703,...,1.714862,1.711658,1.709118,1.707396,17.4,2.789096,1.931739,2016-12-01 00:15:00,31238.0,engadine_rem_flow_zone
2,2016-12-01 00:30:00,1.4540,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:30:00,0.228371,0.374730,0.537967,...,1.718593,1.714862,1.711658,1.709118,17.4,2.789096,1.931739,2016-12-01 00:30:00,31238.0,engadine_rem_flow_zone
3,2016-12-01 00:45:00,1.4432,Snap (Current),WQM01,WQ0118,1,2016-12-01 00:45:00,0.169935,0.228371,0.374730,...,1.720893,1.718593,1.714862,1.711658,17.4,2.789096,1.931739,2016-12-01 00:45:00,31238.0,engadine_rem_flow_zone
4,2016-12-01 01:00:00,1.4306,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:00:00,0.172979,0.169935,0.228371,...,1.721563,1.720893,1.718593,1.714862,17.4,2.789096,1.931739,2016-12-01 01:00:00,31238.0,engadine_rem_flow_zone
5,2016-12-01 01:15:00,1.4292,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:15:00,0.189868,0.172979,0.169935,...,1.723967,1.721563,1.720893,1.718593,17.4,2.789096,1.931739,2016-12-01 01:15:00,31238.0,engadine_rem_flow_zone
6,2016-12-01 01:30:00,1.4324,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:30:00,0.206756,0.189868,0.172979,...,1.727027,1.723967,1.721563,1.720893,17.4,2.789096,1.931739,2016-12-01 01:30:00,31238.0,engadine_rem_flow_zone
7,2016-12-01 01:45:00,1.4230,Snap (Current),WQM01,WQ0118,1,2016-12-01 01:45:00,0.223645,0.206756,0.189868,...,1.729251,1.727027,1.723967,1.721563,17.4,2.789096,1.931739,2016-12-01 01:45:00,31238.0,engadine_rem_flow_zone
8,2016-12-01 02:00:00,1.4198,Snap (Current),WQM01,WQ0118,1,2016-12-01 02:00:00,0.240534,0.223645,0.206756,...,1.730591,1.729251,1.727027,1.723967,17.4,2.789096,1.931739,2016-12-01 02:00:00,31238.0,engadine_rem_flow_zone
9,2016-12-01 02:15:00,1.4128,Snap (Current),WQM01,WQ0118,1,2016-12-01 02:15:00,0.257422,0.240534,0.223645,...,1.731583,1.730591,1.729251,1.727027,17.4,2.789096,1.931739,2016-12-01 02:15:00,31238.0,engadine_rem_flow_zone

## 2 node id in feature dataset

In [27]:
filename = "./sample data/feature.csv"
df_feature = pd.read_csv(filename, parse_dates=['timestamp'])
df_feature['node_id'].describe()

count    17282.000000
mean     36573.000000
std       5335.154358
min      31238.000000
25%      31238.000000
50%      36573.000000
75%      41908.000000
max      41908.000000
Name: node_id, dtype: float64

In [13]:
features_32138 = df_feature.loc[df_feature['node_id']==31238]
features_41908 = df_feature.loc[df_feature['node_id']==41908]

### - 判断二个node的数据是否有不同

In [18]:
features_32138['zone_flow_hist_0min'].describe()

count    8641.000000
mean        2.408029
std         1.825553
min         0.001786
25%         0.743492
50%         2.306323
75%         3.631476
max        10.305820
Name: zone_flow_hist_0min, dtype: float64

In [20]:
features_32138['res_cl_hist_0min'].describe()

count    8641.000000
mean        1.475214
std         0.078918
min         1.254849
25%         1.421894
50%         1.477509
75%         1.528201
max         1.734405
Name: res_cl_hist_0min, dtype: float64

In [29]:
features_41908['travel_time_hrs_nom'].describe()

count    8.641000e+03
mean     2.583436e+01
std      3.048405e-12
min      2.583436e+01
25%      2.583436e+01
50%      2.583436e+01
75%      2.583436e+01
max      2.583436e+01
Name: travel_time_hrs_nom, dtype: float64

In [30]:
features_41908['travel_time_hrs_nom'].describe()

count    8.641000e+03
mean     2.583436e+01
std      3.048405e-12
min      2.583436e+01
25%      2.583436e+01
50%      2.583436e+01
75%      2.583436e+01
max      2.583436e+01
Name: travel_time_hrs_nom, dtype: float64

# data cleaning

In [28]:
df.describe()

,average_result_value,Average Result Value,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature,travel_time_hrs_nom,flow_nom,node_id
count,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,...,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2.769000e+03,2.769000e+03,2769.0
mean,1.276345,1.005778,1.152518,1.250574,1.352919,1.458963,1.567609,1.677540,1.789513,1.904766,...,1.477679,1.476071,1.474476,1.472915,1.471396,1.469897,21.725208,2.789096e+00,1.931739e+00,31238.0
std,0.139701,0.075809,1.743221,1.821041,1.887563,1.944308,1.992200,2.030488,2.059319,2.079790,...,0.081023,0.081313,0.081565,0.081755,0.081872,0.081920,1.888641,1.243674e-13,1.352496e-13,0.0
min,0.745000,1.000000,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.002122,0.002476,...,1.261906,1.258727,1.256837,1.255174,1.254849,1.254849,17.400000,2.789096e+00,1.931739e+00,31238.0
25%,1.197000,1.000000,0.163542,0.174694,0.193354,0.214630,0.239795,0.274978,0.312583,0.353525,...,1.426848,1.424709,1.422247,1.421027,1.419759,1.418278,20.650000,2.789096e+00,1.931739e+00,31238.0
50%,1.290200,1.000000,0.468314,0.516030,0.603306,0.690759,0.781015,0.892549,1.011893,1.117621,...,1.478592,1.476838,1.475486,1.474543,1.473251,1.471740,22.350000,2.789096e+00,1.931739e+00,31238.0
75%,1.369600,1.000000,1.315512,1.467496,1.619548,1.790862,2.010682,2.266233,2.510676,2.750851,...,1.526162,1.524947,1.523480,1.522765,1.521777,1.520649,22.950000,2.789096e+00,1.931739e+00,31238.0
max,1.617200,2.000000,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,...,1.734405,1.734405,1.734405,1.734405,1.734405,1.734405,24.550000,2.789096e+00,1.931739e+00,31238.0

In [31]:
df.shape

(2769, 399)

* average_result_value: label
* Average Result Value: pump speed - sum 3 nodes
* zone_flow_hist_0min: flow speed (record in every 15mins - total: 2 days)
* res_cl_hist_0min: upstream result history of chlorine (record in every 15mins - total: 2 days)
* res_temperature

In [35]:
feature_droped = ['zone_id', 'node_id', 'timestamp', 'flow_nom', 'travel_time_hrs_nom', 'Measurement_Result_Date_Minute_15', 'facility_code', 'asset_code', 'statistic_type', 'measurement_result_date']
df_tem = df.drop(feature_droped ,axis=1)
df_tem.shape

(2769, 389)

In [36]:
df_tem.head(5)

,average_result_value,Average Result Value,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2760min,res_cl_hist_2775min,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature
0,1.4572,1,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,1.529712,...,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,1.708366,17.4
1,1.4560,1,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,1.272814,...,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,1.707396,17.4
2,1.4540,1,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,1.151700,...,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,1.709118,17.4
3,1.4432,1,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,1.086506,...,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,1.711658,17.4
4,1.4306,1,0.172979,0.169935,0.228371,0.374730,0.537967,0.677703,0.838600,0.992196,...,1.731583,1.730591,1.729251,1.727027,1.723967,1.721563,1.720893,1.718593,1.714862,17.4

## output training data

### - without timestamp

In [38]:
df_tem.to_csv(modelling_data_directory, index=None)

In [39]:
df_tem.describe()

,average_result_value,Average Result Value,zone_flow_hist_0min,zone_flow_hist_15min,zone_flow_hist_30min,zone_flow_hist_45min,zone_flow_hist_60min,zone_flow_hist_75min,zone_flow_hist_90min,zone_flow_hist_105min,...,res_cl_hist_2760min,res_cl_hist_2775min,res_cl_hist_2790min,res_cl_hist_2805min,res_cl_hist_2820min,res_cl_hist_2835min,res_cl_hist_2850min,res_cl_hist_2865min,res_cl_hist_2880min,res_temperature
count,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,...,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000,2769.000000
mean,1.276345,1.005778,1.152518,1.250574,1.352919,1.458963,1.567609,1.677540,1.789513,1.904766,...,1.482490,1.480896,1.479288,1.477679,1.476071,1.474476,1.472915,1.471396,1.469897,21.725208
std,0.139701,0.075809,1.743221,1.821041,1.887563,1.944308,1.992200,2.030488,2.059319,2.079790,...,0.080038,0.080380,0.080711,0.081023,0.081313,0.081565,0.081755,0.081872,0.081920,1.888641
min,0.745000,1.000000,0.001786,0.001786,0.001786,0.001786,0.001786,0.001786,0.002122,0.002476,...,1.275442,1.269354,1.265012,1.261906,1.258727,1.256837,1.255174,1.254849,1.254849,17.400000
25%,1.197000,1.000000,0.163542,0.174694,0.193354,0.214630,0.239795,0.274978,0.312583,0.353525,...,1.432245,1.430814,1.429068,1.426848,1.424709,1.422247,1.421027,1.419759,1.418278,20.650000
50%,1.290200,1.000000,0.468314,0.516030,0.603306,0.690759,0.781015,0.892549,1.011893,1.117621,...,1.484488,1.482226,1.480484,1.478592,1.476838,1.475486,1.474543,1.473251,1.471740,22.350000
75%,1.369600,1.000000,1.315512,1.467496,1.619548,1.790862,2.010682,2.266233,2.510676,2.750851,...,1.531268,1.529775,1.527973,1.526162,1.524947,1.523480,1.522765,1.521777,1.520649,22.950000
max,1.617200,2.000000,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,10.305820,...,1.735576,1.735576,1.735576,1.734405,1.734405,1.734405,1.734405,1.734405,1.734405,24.550000